:root{
    /* --bg-color: #146C94;
    --text-color: #F6F1F1;
    --primary-color: #AFD3E2;
    --secondary-color: #19A7CE; */
    --bg-color: #fcfcfc;
    --text-color: #1a1a1a;
    --primary-color: #AFD3E2;
    --secondary-color: #49adff;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.index-header{
    height: 100vh;
}

/* Fade in effect */

.fade-in {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity .8s ease-in-out, transform .8s ease-in-out;
}

.makeElementVisible {
    opacity: 1;
    transform: translateX(0);
}


/* Navigation Menu */

.InnerHeader-section nav{
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 2px 0px 5px black;
}

.InnerHeader-section nav img{
    height: 80px;
    width: 80px;
    margin: 0 20px;
}

.InnerHeader-section nav ul li{
    display: inline-block;
    margin: 0 10px;
}

.InnerHeader-section nav ul li a{
    text-decoration: none;
    font-size: 22px;
    color: var(--text-color);
    transition: color .5s;
}

.InnerHeader-section nav ul li a:hover{
    color: var(--secondary-color);
}

/*  */

.presentation-section{
    width: 80%;
    display: flex;
    align-items: center;
    gap: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.presentation-imgDiv{
    height: 300px;
    width: 300px;
}

.presentation-imgDiv img{
    max-height: 100%;
    max-width: 100%;
    border-radius: 100%;
    border: 2px solid var(--primary-color)
}

.presentation-infoDiv{
    
}

.presentation-infoDiv h1{
    font-size: 50px;
}

.presentation-infoDiv p{
    font-size: 25px;
}

.infoDiv-name span:first-child{
    color: blue;
}

.infoDiv-name span:last-child{
    color: rgb(46, 46, 46);
}

.infoDiv-job{
    font-size: 72px;
    background: -webkit-linear-gradient(0deg, rgb(0, 81, 255)40%, rgb(29, 29, 29));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* About me */

.about-section{
    width: 80%;
    text-align: center;
}

.about-section h2{
    font-size: 30px;
    margin: 20px 0;
}

.about-info{
    font-size: 20px;
    line-height: 2;
}

.about-linksContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.about-linksContainer a{
    padding: 15px 20px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    transition: .5s;
}

#github-btn{
    background-color: #4582d1;
}

#github-btn:hover{
    background-color: #35629c;
}

#linkedin-btn{
    background-color: #0077b5;
}

#linkedin-btn:hover{
    background-color: #00507a;
}


/* Habilities Section */

.habilities-section{
    width: 80%;
    margin-top: 5%;
}

.habilities-section h2{
    font-size: 30px;
}

.habilities-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.habilities{
    text-align: center;
    display: flex;
    align-items: center;
    height: 30%;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 10px;
    flex-shrink: 1;
}

.habilities h4{
    font-size: 1.2rem;
}

.habilities img{
    max-width: 100%;
    max-height: 100%;
    padding: 10%;
}

/* Projects Section */

.projects-section{
    width: 80%;
    color: white;
}

.projects-section h2{
    font-size: 30px;
    margin: 50px 0;
}

.projects-wrapper{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.projects{
    display: flex;
    gap: 20px;
}

.innerProjects-img{
    height: 100%;
}

.innerProjects-img img{
    width: 100%;
    height: 100%;
}

.innerProjects-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.innerProjects-info h3{
    font-size: 25px;
}

.innerProjects-info p{
    font-size: 18px;
    line-height: 1.8;
    width: 70%;
    flex-shrink: 1;
}

.innerProjects-info a{
    font-size: 18px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    transition: color .5s;
    align-self: flex-start;
}

.innerProjects-info a:hover{
    color: var(--secondary-color);
}

/* Experiences Section */

.experiences-section{
    width: 80%;
    color: white;
    margin-top: 5%;
}

.experiences-section h2{
    margin: 50px 0;
    font-size: 30px;
}

.experiences{
    /* display: flex; */
}

.experiences h3{
    font-size: 20px;
}

.experiences img{
    max-width: 100px;
    max-height: 100px;
}

/* Footer */

.index-footer{
    background: linear-gradient(180deg, transparent, black);
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.InnerFooter-section{
    color: white;
    font-weight: normal;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.InnerFooter-section > h2{
    font-size: 30px;
    margin: 30px 0;
    width: 100%;
}

.contacts{
    width: 30%;
}

.contacts ul{
    margin: 10px;
    line-height: 2;
    list-style-position: inside;
}

.contacts ul li{
    list-style-type: none;
    font-size: 20px;
}


.contacts ul li a{
    color: white;
    transition: color .5s;
}

.contacts ul li a:hover{
    color: var(--secondary-color);
}