:root{
    --bg-color: #fcfcfc;
    --text-color: #1a1a1a;
    --primary-color: #AFD3E2;
    --secondary-color: #49adff;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    background: linear-gradient(to bottom, var(--bg-color), var(--secondary-color), var(--secondary-color), black);
    background-repeat: no-repeat;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.index-header{
    height: 100vh;
}

/* Fade in effect */

.fade-in {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity .8s ease-in-out, transform .8s ease-in-out;
}

.makeElementVisible {
    opacity: 1;
    transform: translateX(0);
}


/* Navigation Menu */


/*  */

.presentation-section{
    width: 80%;
    display: flex;
    align-items: center;
    gap: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.presentation-imgDiv{
    height: 300px;
    width: 300px;
}

.presentation-imgDiv img{
    max-height: 100%;
    max-width: 100%;
    border-radius: 100%;
    border: 2px solid var(--primary-color)
}

.presentation-infoDiv h1{
    font-size: 50px;
}

.presentation-infoDiv p{
    font-size: 25px;
    margin: 5px 0;
}

.presentation-infoDiv span{
    color: blue;
}

.infoDiv-job{
    font-size: 72px;
    background: -webkit-linear-gradient(0deg, rgb(0, 81, 255), rgb(29, 29, 29));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: default;
}

/* About me */

.about-section{
    width: 80%;
    text-align: center;
}

.about-section h2{
    font-size: 30px;
    margin: 20px 0;
}

.about-info{
    font-size: 20px;
    line-height: 2;
}

.about-linksContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.about-linksContainer a{
    padding: 15px 20px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    transition: .5s;
}

#github-btn{
    background-color: #4582d1;
}

#github-btn:hover{
    background-color: #35629c;
}

#linkedin-btn{
    background-color: #0077b5;
}

#linkedin-btn:hover{
    background-color: #00507a;
}


/* Habilities Section */

.habilities-section{
    width: 80%;
    margin-top: 5%;
}

.habilities-section h2{
    font-size: 30px;
}

.habilities-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.habilities{
    text-align: center;
    display: flex;
    align-items: center;
    height: 30%;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 10px;
    flex-shrink: 1;
}

.habilities h4{
    font-size: 1.2rem;
}

.habilities img{
    max-width: 100%;
    max-height: 100%;
    padding: 10%;
}

/* Projects Section */

.projects-section{
    width: 80%;
    color: white;
}

.projects-section h2{
    font-size: 30px;
    margin: 50px 0;
}

.projects-wrapper{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.projects{
    display: flex;
    gap: 20px;
}

.innerProjects-img{
    max-width: 400px;
    max-height: 400px;
}

.innerProjects-img img{
    width: 100%;
    height: 100%;
}

.innerProjects-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.innerProjects-info h3{
    font-size: 25px;
}

.innerProjects-info p{
    font-size: 18px;
    line-height: 1.8;
    width: 70%;
    flex-shrink: 1;
}

.innerProjects-info a{
    font-size: 18px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    transition: color .5s;
    align-self: flex-start;
}

.innerProjects-info a:hover{
    color: var(--secondary-color);
    text-shadow: 0px 0px 5px black;
}

/* Experiences Section */

.experiences-section{
    width: 80%;
    color: white;
}

.experiences-section h2{
    margin: 50px 0;
    font-size: 30px;
}

.experiences{
    margin: 20px 0;
}

.experiences h3{
    font-size: 20px;
    margin: 10px 0;
}

.experiences p{
    margin: 10px 0;
    font-size: 18px;
}

.experiences img{
    max-width: 100px;
    max-height: 100px;
}

/* Footer */

.index-footer{
    background: linear-gradient(180deg, transparent, black);
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.InnerFooter-section{
    color: white;
    font-weight: normal;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.InnerFooter-section > h2{
    font-size: 30px;
    margin: 30px 0;
    width: 100%;
}

.contacts{
    width: 30%;
}

.contacts ul{
    margin: 10px;
    line-height: 2;
    list-style-position: inside;
}

.contacts ul li{
    list-style-type: none;
    font-size: 20px;
}


.contacts ul li a{
    color: white;
    transition: color .5s;
}

.contacts ul li a:hover{
    color: var(--secondary-color);
}

@media screen and (max-width: 1200px){
    .presentation-section{
        width: 95%;
    }

    .presentation-infoDiv h1{
        font-size: 2.5rem;
    }

    .about-section{
        width: 95%;
    }

    .habilities-section{
        width: 95%;
    }

    .projects-section{
        width: 95%;
    }

    .projects{
        flex-direction: column;
        margin: 0;
        gap: 0;
    }

    .innerProjects-info{
        padding: 0 5px;
        width: 100%;
    }

    .innerProjects-info h3{
        margin-top: 10px;
    }
    
    .innerProjects-info p{
        width: 100%;
        margin: 15px 0;
        text-align: justify;
    }

    .experiences-section{
        width: 95%;
    }

    .InnerFooter-section{
        width: 95%;
    }

    .contacts{
        width: 100%;
        word-wrap: break-word;
    }
}

@media screen and (max-width: 768px){
    .presentation-section{
        gap: 30px;
        flex-direction: column;
    }
    
    .presentation-imgDiv{
        margin-top: 10%;
        padding: 5%;
    }

    .presentation-infoDiv{
        text-align: center;
    }

    .about-section{
        text-align: left;
        margin-bottom: 20%;
    }

    .about-info{
        padding: 0 10px;
    }

    /*  */

    
    .habilities-wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .habilities{
        height: 30%;
        width: 30%;
        padding: 0;
        margin: 0;
    }
    
    .habilities h4{
        font-size: 1.2rem;
    }
    
    .habilities img{
        max-width: 100%;
        max-height: 100%;
        padding: 10%;
    }

    #habilities-bootstrap img{
        padding: 20%;
    }

}